nav(class="navbar navbar-dark bg-dark")
    ul.nav
        li.nav-item
            a.nav-link(href="/product/add") Add Product
        li.nav-item
            a.nav-link(href="/product/view") View Products
br
br